@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --plyr-color-main: #d0fa3d;
  --plyr-font-family: 'CraftworkGrotesk';
  --plyr-tooltip-background: '#000';
  --plyr-tooltip-color: '#FFF';
  --plyr-audio-range-track-background: '#000';
}

body {
  @apply font-sans text-white;
}

::selection {
  background: #d0fa3d; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #d0fa3d; /* Gecko Browsers */
}

body {
  background: linear-gradient(90deg, black 44px, transparent 1%) center,
    linear-gradient(black 44px, transparent 1%) center, #1e1e1e;
  background-size: 48px 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
